.accordion-container{
    padding: 8px 0px;
    background-color: $contrast-primary-dark;
    margin-top: 16px;
    .line-accordion{
        height: 0.5px;
        background-color: $primary-color;
        margin: 0px 16px;
    }
    .card-accordion{

        display: flex;

        justify-content: space-between;

        align-items: center;
        padding: 23.5px 32px 23.5px 16px;
        position: relative;
        h2{
            font-family: $font-nunito;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: $primary-color;
        }
        
        .line1{
            width: 2px;
            height: 17px;
            background-color: $primary-color;
            position: absolute;
            right: 39.5px;
        }
        .line2{
            width: 17px;
            height: 2px;
            background-color: $primary-color;  
            position: absolute;
            right: 32px;
        }
        
        .line1-open{

            transition: 1s;

            transform: rotateZ(90deg);

            transition-delay: 0.1s;
        }
        .line2-open{

            transition: 1s;

            transform: rotateZ(180deg);
        }
        
        .line1-close{

            transition: 0.8s;

            transform: rotateZ(-90deg);

            transition-delay: 0.1s;
        }
        .line2-close{

            transition: 0.8s;

            transform: rotateZ(-90deg);
        }
    }
    
    .accordion-close{
        transition: 1s;

        height: auto;
        height: 0px;
        overflow: hidden;
        h3{
            font-family: $font-nunito;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: $primary-color;
            margin-left: 19px;
        }
    }
    .accordion-open{
        transition: 1s;

        height: 100px;
        overflow: hidden;
        h3{
            font-family: $font-nunito;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: $primary-color;
            margin-left: 19px;
        }
    }
}