.accordion-container{
    padding: 8px 16px;
    background-color: $contrast-primary-dark;
    margin-top: 16px;
    .card-accordion{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        padding: 23.5px 16px 23.5px 0px;
        position: relative;
        h2{
            font-family: $font-nunito;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: $primary-color;
        }
        
        .line1{
            width: 2px;
            height: 17px;
            background-color: $primary-color;
            position: absolute;
            right: 23px;
        }
        .line2{
            width: 17px;
            height: 2px;
            background-color: $primary-color;  
            position: absolute;
            right: 15.5px;
        }
        
        .line1-open{
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            -webkit-transform: rotateZ(90deg);
            -ms-transform: rotate(90deg);
                    transform: rotateZ(90deg);
            -webkit-transition-delay: 0.1s;
            -o-transition-delay: 0.1s;
                    transition-delay: 0.1s;
        }
        .line2-open{
            -webkit-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            -webkit-transform: rotateZ(180deg);
            -ms-transform: rotate(180deg);
                    transform: rotateZ(180deg);
        }
        
        .line1-close{
            -webkit-transition: 0.8s;
            -o-transition: 0.8s;
            transition: 0.8s;
            -webkit-transform: rotateZ(-90deg);
            -ms-transform: rotate(-90deg);
                    transform: rotateZ(-90deg);
            -webkit-transition-delay: 0.1s;
            -o-transition-delay: 0.1s;
                    transition-delay: 0.1s;
        }
        .line2-close{
            -webkit-transition: 0.8s;
            -o-transition: 0.8s;
            transition: 0.8s;
            -webkit-transform: rotateZ(-90deg);
            -ms-transform: rotate(-90deg);
                    transform: rotateZ(-90deg);
        }
    }
    
    .accordion-close{
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        height: auto;
        height: 0px;
        overflow: hidden;
        h3{
            font-family: $font-nunito;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: $primary-color;
            margin-left: 19px;
        }
    }
    .accordion-open{
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        height: 100px;
        overflow: hidden;
        h3{
            font-family: $font-nunito;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            color: $primary-color;
            margin-left: 19px;
        }
    }
}