.container-404{
    height: 100vh;
    overflow-y: hidden;
    background-color: $error-color;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px;
    div{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .title{
            font-family: $font-saira;
            font-weight: 600;
            font-size: 170px;
            line-height: 28px;
            color: $white-color;
            height: 82px;
            margin-top: 180px;
            @include screen_390{
                font-size: 42vw;
            }
        }
        .subtitle{
            font-family: $font-nunito;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: $primary-color;
            margin: 46px 16px 0px 16px;
            text-align: center;
        }
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #FFF0D9;
        border-radius: 3px;
        width: 100%;
        max-width: 358px;
        height: 63px;
        p{
            font-family: $font-saira;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $white-color;
        }
        img{
            margin-left: 8px;
        }
    }
}