.container-404{
    height: 100vh;
    overflow-y: hidden;
    background-color: $error-color;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0px 15px;
    div{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .title{
            font-family: $font-saira;
            font-weight: 600;
            font-size: 170px;
            line-height: 28px;
            color: $white-color;
            height: 82px;
            margin-top: 180px;
            @include max_screen(390){
                font-size: 42vw;
            }
        }
        .subtitle{
            font-family: $font-nunito;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: $primary-color;
            margin: 46px 16px 0px 16px;
            text-align: center;
        }
    }
    .button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 75px;
        border: 2px solid #FFF0D9;
        border-radius: 3px;
        width: 100%;
        max-width: 358px;
        height: 63px;
        p{
            font-family: $font-saira;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $white-color;
        }
        img{
            margin-left: 8px;
        }
    }
    &.desk{
        div{
            max-width: 358px;
            width: 358px;
        }
        .button{
            margin-bottom: 175px;
        }
    }
}