@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Ruda:wght@700&family=Saira:wght@500&display=swap');

$hamburger-color:#FFF0D9;
$hamburger-size:26px;
$hamburger-thickness:2.5px;

@import "~delicious-hamburgers/scss/base";
@import "~delicious-hamburgers/scss/animations/stack";

@import "./mixins.scss";
@import "./generalStyles.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-style: normal;
}

@import "./navbar/navbar.scss";
@import "./banner/banner.scss";
@import "./home/home.scss";