@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');

$hamburger-color:#FFF0D9;
$hamburger-size:26px;
$hamburger-thickness:2px;
$hamburger-bar-spacing:6.6px;

@import "~delicious-hamburgers/scss/base";
@import "~delicious-hamburgers/scss/animations/stack";

@import "./mixins.scss";
@import "./generalStyles.scss";

*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-style: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer{
    width: 100%;
    p{
        font-family: $font-nunito;
    }
}
.desk{
    .footer{
        display: flex;
        padding: 0px 22px;
        margin-top: 89px;
        margin-bottom: 28px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .mail-footer{
            cursor: pointer;
        }
        p{
            font-weight: 400;
            font-size: 11.3478px;
            line-height: 15px;
            color: black;
        }
        img{
            position: absolute;
            bottom: 0;
            padding: 8px 100px;
            cursor: pointer;
        }
    }
}
.mobile{
    .footer{
        padding: 29.5px 47.5px 29.5px 16px;
        margin-top: 64px;
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.03em;
            color: $primary-color;
        }
    }
}

@import "./navbar/navbar.scss";
@import "./banner/banner.scss";
@import "./home/home.scss";
@import "./accordion/accordion.scss";
@import "./ourteam/ourteam.scss";
@import "./contact/contact.scss";
@import "./form/form.scss";
@import "./404page/404page.scss";
@import "./animationTeam/animationTeam.scss";
@import "./carousel/carousel.scss";