.navbar-container-mobile{
    background-color: transparent;
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    z-index: 3;
    position: absolute;
    .logo-menu-close{
        width: 100%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        width: 177px;
        height: 17px;
        margin: auto 0;
        cursor: pointer;
        background-repeat: no-repeat;
        text-align: start;
    }
    .logo-menu-open{
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        width: 66px;
        height: 22px;
        margin: auto 0;
        margin-top: 17px;
        cursor: pointer;
        background-repeat: no-repeat;
        text-align: start;
    }
    &.menuOpen{
        position: fixed;
        top:0;
        z-index: 100;
    }
    &.menuClose{
        position: fixed;
        top:0;
        z-index: 100;
    }
    .hamburger{
        margin: auto 0px;
        .bar2::before{
            background-color: black !important;
        }
        .bar2-background{
            background-color: black !important;
        }
    }
}


.menu-close{
    position: fixed;
    top:0;
    z-index: 51;
    width: 100vw;
    height: 0px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background: -o-linear-gradient(317.35deg, #414141 19.85%, #101010 73.97%);
    background: linear-gradient(132.65deg, #414141 19.85%, #101010 73.97%);
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .navbar-bar{
        margin-top: 112px;
        margin-left: 16px;
        h4{
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            transition-duration: 1s;
            height: 0px;
            overflow: hidden;
            font-family: $font-saira;
            font-weight: 600;
            font-size: 60px;
            line-height: 94px;
            color: $primary-color;
        }
        .hover-h4{
            opacity:0.3;
        }
    }
    .navbar-logos{
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        margin-bottom: 75px;
        justify-content: center;
        align-items: center;
        img{
            padding: 24px 22px;
        }
    }
}
.menu-open{
    position: fixed;
    top:0;
    z-index: 51;
    width: 100vw;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    height: 100vh;
    overflow: hidden;
    background: -o-linear-gradient(317.35deg, #414141 19.85%, #101010 73.97%);
    background: linear-gradient(132.65deg, #414141 19.85%, #101010 73.97%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .navbar-bar{
        margin-top: 112px;
        margin-left: 16px;
        h4{
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            transition-duration: 1s;
            overflow: hidden;
            font-family: $font-saira;
            font-weight: 600;
            height: 94px;
            font-size: 60px;
            line-height: 94px;
            color: $primary-color;
        }
        .hover-h4{
            opacity:0.3;
        }
    }
    .navbar-logos{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        margin-bottom: 95px;
        justify-content: center;
        align-items: center;
        img{
            padding: 24px 22px;
        }
    }
}