.contact-container{
    .contact-container-2{
        h2{
            font-family: $font-saira;
            color: $black-color;
            margin-bottom: 24px;
        }
        .description{
            font-family: $font-nunito;
            color: $black-color;
        }

        .contacts{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            div{
                h3{
                    font-family: $font-saira;
                    color: $black-color;
                }
                div{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    h3{
                        font-family: $font-saira;
                        color: $black-color-2-disabled;
                    }
                    h4{
                        font-family: $font-saira;
                        color: #767676;
                    }
                    .mail{
                        font-family: $font-ruda !important;
                        color:#43AFC2;
                        cursor: pointer;
                    }
                }
            }
        }
        .footer{
            font-family: $font-nunito;
            font-weight: 700;
            font-size: 12px;
            line-height: 21px;
            color: $full-black;
            margin-top: 37px;
            &.footer-contact{
                margin-top: 0px;
            }
        }
    }


    &.desk{
        .contact-container-2{
            padding: 126px 83px 70px 83px;
            position: relative;
            max-width: 1024px;
            .eagle{
                width: 100%;
                img{
                    position: absolute;
                    z-index: -5;
                    top: 128px;
                    right: 126px;
                }
            }
            h2{
                font-weight: 600;
                font-size: 50px;
                line-height: 79px;
            }
            .description{
                font-weight: 500;
                font-size: 22px;
                line-height: 32px;
                width: 545px;
            }
            .contacts{
                margin-top: 57px;
                gap: 24px;
                flex-direction: row;
                align-items: center;
                div{
                    margin-bottom: 8px;
                    h3{
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 29px;
                        margin-bottom: 10px;
                    }
                    .country{
                        img{
                            width: 22px;
                        }
                        h3{
                            font-family: $font-saira;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            color: $black-color-2-disabled;
                            margin-bottom: 0px;
                        }
                    }
                    .mail{
                        img{
                            width: 18px;
                        }
                    }
                    .phone{
                        img{
                            width: 13px;
                        }
                    }
                    div{
                        width: 270px;
                        img{
                            margin-right: 8px;
                        }
                        h4{
                            font-family: $font-saira;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #767676;
                        }
                        .mail{
                            color:#43AFC2;
                        }
                    }
                }
            }
        }
    }
    &.mobile{
        .contact-container-2{
            padding: 58px 16px 0px 16px;
            h2{
                font-weight: 600;
                font-size: 22px;
                line-height: 29px;
            }
            .description{
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
            }
            .contacts{
                margin-top: 28px;
                gap: 18px;
                flex-direction: column;
                div{
                    h3{
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 29px;
                        margin-bottom: 8px;
                    }
                    div{
                        margin-bottom: 4px;
                        img{
                            margin-right: 7px;
                        }
                        h3{
                            font-family: $font-saira;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            color: $black-color-2-disabled;
                            margin-bottom: 0px
                        }
                        h4{
                            font-family: $font-saira;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            color: #767676;
                        }
                        .mail{
                            color:#43AFC2;
                        }
                    }
                }
            }
        }
    }
}