.contact-container{
    .contact-container-2{
        padding: 58px 16px 0px 16px;
        h2{
            font-family: $font-saira;
            color: $black-color;
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;
        }
        .description{
            font-family: $font-nunito;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: $black-color;
        }

        .contacts{
            margin-top: 28px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 18px;
            div{
                h3{
                    font-family: $font-saira;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 29px;
                    color: $black-color;
                }
                div{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    img{
                        margin-right: 7px;
                    }
                    h3{
                        font-family: $font-saira;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                        color: $black-color-2-disabled;
                    }
                    h4{
                        font-family: $font-saira;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #767676;
                    }
                    .mail{
                        color:#43AFC2;
                    }
                }
            }
        }
        .footer{
            font-family: $font-nunito;
            font-weight: 700;
            font-size: 12px;
            line-height: 21px;
            color: $full-black;
            margin-top: 37px;
        }
    }
    .contact-footer{
        margin: 37px 22px 90px 22px;
        p{
            font-family: $font-nunito;
            font-weight: 700;
            font-size: 12px;
            line-height: 21px;
            color: $full-black;
            span{
                text-decoration: underline;
            }
        }
    }
    .footer-contact{
        margin-top: 0px;
    }
}