.home-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .home-container-2{
        margin: 0px 16px;
        .first-box{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            margin-top: 64px;
            padding: 16px;
            h2{
                font-family: $font-nunito;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                color: $primary-color;
                margin-bottom: 6px;
            }
            p{
                font-family: $font-nunito;
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
                letter-spacing: 0.03em;
                color: $primary-color;
                &.link{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .title{
            font-family: $font-saira;
            font-weight: 500;
            font-size: 30px;
            line-height: 47px;
            color: $black-color;
            margin: auto;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            &.services{
                margin-top: 75px;
            }
            &.clients{
                margin-top: 64px;
            }
            &.team{
                margin-top: 64px;
            }
        }
        .button-schedule{
            border-radius: 3px;
            padding: 17px 0px;
            font-family: $font-ruda;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $primary-color;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-top: 30px;
            cursor: pointer;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            &:hover{
                font-size: 22px;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }
            img{
                margin-right: 13px;
            }
        }
        .ourTeam-eagle{
            margin-top: 4px;
            position: absolute;
            z-index: -1;
        }
        .ourTeam-description{
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            color: $black-color;
            margin-top: 13px;
        }
    }
    .home-footer{
        padding: 16px 47.5px 43px 16px;
        width: 100%;
        margin-top: 65px;
        margin-bottom: 102px;
        p{
            font-family: $font-nunito;
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.03em;
            color: $primary-color;
        }
    }
}

.banner-loading{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/portada.svg");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
}
.banner-loading-close{
    transition: 1.5s;
    height: 0px;
}