.banner-container{
    z-index: -2;
    width: 100%;
    height: 440px;
    background-image: url("../../assets/portada.svg");
    background-repeat: no-repeat;
    background-position: 70%;
    background-size: cover;
    padding-top: 72px;
    padding-left: 16px;
    .title{
        h1{
            font-family: $font-saira;
            font-weight: 500;
            font-size: 40px;
            line-height: 58px;
            color: $primary-color;
        }
    }
    .subtititle{
      margin: 24px 16px 16px 1px;
      font-family: $font-nunito;
      font-weight: 700;
      font-size: 18px;
      line-height: 32px;
      color: $white-color;
    }
    @keyframes scrollDown {
        0% {
          top: 5px;
          height: 4px;
          opacity: 1;
        }
        33% {
          top: 10px;
          height: 4px;
        }
        66% {
          top: 15px;
          height: 6px;
          opacity: 1;
        }
        100% {
          top: 20px;
          height: 8px;
          opacity: 0;
        }
    }
    @-webkit-keyframes scrollDown {
      0% {
        top: 5px;
        height: 4px;
        opacity: 1;
      }
      33% {
        top: 10px;
        height: 4px;
      }
      66% {
        top: 15px;
        height: 6px;
        opacity: 1;
      }
      100% {
        top: 20px;
        height: 8px;
        opacity: 0;
      }
  }
  .mouse-container{
    margin-left: -16px;
    .mouse {
        width: 28px;
        height: 40px;
        position: relative;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #fff;
        margin:5px auto;
        border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
        &::before {
          content: "";
          position: absolute;
          left: 48%;
          top: 20px;
          -webkit-transform: translateX(-20%);
              -ms-transform: translateX(-20%);
                  transform: translateX(-20%);
          width: 2px;
          height: 2px;
          background: #fff;
          border-radius: 10px;
          -webkit-animation: scrollDown 1.5s linear infinite;
                  animation: scrollDown 1.5s linear infinite;
        }
    }
  }
}