.banner-container{
    z-index: -2;
    width: 100vw;
    height: 368px;
    position: fixed;
    top: 0;
    background-image: url("../../assets/portada.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .title{
        margin-top: 101px;
        margin-left: 16px;
        h1{
            font-family: $font-saira;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            color: $white-color;
        }
    }
    .subtititle{
        margin-top: 21px;
        width: 263px;
        margin-left: 16px;
        font-family: $font-nunito;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        color: $white-color;
    }
}