.form-container{
    background-color: $contrast-primary-dark;
    padding: 42px 14px 21px 14px;
    margin-top: 36px;
    .title{
        font-family: $font-saira;
        font-weight: 500;
        font-size: 30px;
        line-height: 29px;
        color: $primary-color;
    }
    .subtitle{
        font-family: $font-ruda;
        font-weight: 700;
        font-size: 12px;
        line-height: 21px;
        color: $primary-color;
        margin-top: 28px;
        span{
            font-weight: 900;
        }
    }
    .form{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
            color: $primary-color;
        }
        div div{
            border-bottom: 1px solid $primary-color;
            &:after{
                border-bottom: 2px solid $primary-color;
            }
        }
        .button{
            display: flex;
            justify-content: flex-end;
            margin-top: 34px;
            border-bottom: none;
            p{
                width: fit-content;
                font-family: $font-ruda;
                font-weight: 900;
                font-size: 16px;
                line-height: 21px;
                color: $primary-color;
            }
        }
    }
}