.form-container{
    background-color: $contrast-primary-dark;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .subtitle{
        font-family: $font-nunito;
        color: $primary-color;
        span{
            font-weight: 900;
        }
    }
    .form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        .line-form{
            div {
                label {
                    color: $primary-color;
                    font-family: $font-nunito;
                    .MuiInputLabel-asterisk{
                        color: #FFF0D94D;
                    }
                }
                .MuiInputBase-inputMultiline{
                    color: $primary-color !important;
                }
                div {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    div{
                        border-bottom: 1px solid $primary-color;
                        &:after{
                            border-bottom: 2px solid $primary-color;
                        }
                        &::before{
                            border-bottom: none !important;
                        }
                    }
                }
                .MuiInputBase-inputMultiline-error{
                    div{
                        border-bottom: 1px solid $error-color !important;
                        &:after{
                            border-bottom: 2px solid $error-color;
                        }
                        &::before{
                            border-bottom: none !important;
                        }
                    }
                }
                .label-error{
                    font-family: $font-nunito;
                    color: $error-color;
                }
            }
        }
        .text-form{
            font-family: $font-nunito;
            color: $white-color;
        }
        button{
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: 100%;
            max-width: 359px;
            height: 63px;
            font-family: $font-saira;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: $primary-color;
            margin-top: 24px;
            cursor: pointer;

            border: solid 2px transparent;
            background-image: -o-linear-gradient($primary-color,$primary-color), -o-linear-gradient(50deg, $primary-color, #43AFC2);
            background-image: linear-gradient($primary-color,$primary-color), linear-gradient(40deg, $primary-color, #43AFC2);
            background-origin: border-box;
            background-clip: content-box, border-box;
            -webkit-box-shadow: 2px 1000px 1px $contrast-primary-dark inset;
            box-shadow: 2px 1000px 1px $contrast-primary-dark inset;
            border-radius: 3px;
        }
        @keyframes rotation {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
        @-webkit-keyframes rotation {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .button-loader{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: inline-block;
            border-top: 3px solid $primary-color;
            border-right: 3px solid transparent;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-animation: rotation 0.8s linear infinite;
            animation: rotation 0.8s linear infinite;
        }

        .form-state{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-top: -4px;
            font-family: $font-saira;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: $primary-color;
            max-width: 358px;
            .description-thank{
                margin-top: 24px;
            }
            .description{
                text-align: center;
            }
            .eagle{
                margin-top: 24px;
            }
            .problem{
                margin-top: 24px;
            }
            .try-again{
                text-decoration: underline;
            }
        }
    }
    
    &.desk{
        padding: 32px 73px 55px 73px;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        .subtitle{
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            width: 795px;
        }
        .form{
            margin-top: 12px;
            margin-bottom: 24px;
            width: 100%;
            .line-form{
                display: flex;
                flex-direction: row;
                gap: 7px;
                div{
                    label {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .label-error{
                        min-height: 22px;
                    }
                }
            }
            .text-form{
                font-weight: 400;
                font-size: 13px;
                line-height: 26px;
                margin-top: 56px;
            }
        }
    }
    &.mobile{
        padding: 42px 16px 21px 16px;
        margin-top: 36px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .title{
            font-family: $font-saira;
            font-weight: 500;
            font-size: 30px;
            line-height: 29px;
            color: $primary-color;
        }
        .subtitle{
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            margin-top: 28px;
        }
        .form{
            margin-top: 10px;
            margin-bottom: 20px;
            gap: 10px;
            width: 100%;
            .line-form{
                width: 100%;
                div{
                    width: 100%;
                    label {
                        margin-left: 16px;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .MuiInputBase-inputMultiline{
                        margin-left: 5px;
                    }
                    .label-error{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        min-height: 18px;
                    }
                }
            }
            .text-form{
                font-weight: 400;
                font-size: 13px;
                line-height: 26px;
                margin-top: 20px;
            }
        }
    }
}