.ourTeam-container{
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    .card-team{
        position: relative;
        max-width: 175px;
        img{
            width: 175px;
            height: 175px;
        }
        .linkedin{
            width: 19px;
            height: 19px;
            position: absolute;
            left: 8px;
            top: 4px;
        }
        .name{
            font-family: $font-ruda;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: $full-black;
        }
        .rol{
            font-family: $font-ruda;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color:#C5C5C5;
        }
        .mail{
            font-family: $font-ruda;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color:#43AFC2;
        }
    }
}